{% extends "layout.html" %}

{% block content %}

<div class="row card my-2" id="section_input">
    <h5 class="card-header">Input</h5>
    <div class="card-body text-center">
        <!-- 08212022 - Moving Upload above results -->
        <form id="upload-file">
            <label class="form-label form-control-label" for="customFile">Select input file:</label>
            <input name="customFile" class="form-control form-control-sm d-inline" id="input_file" type="file">
            <div class="btn btn-sm btn-hhanh-primary" id="input_submit">Upload</div>
        </form>
        <div id="input_results" class="my-4"></div>
        <div id="input_results_sciplot" class="my-4"></div>
        <div id="input_message" class="my-4 text-left"></div>
        <div class="input_dq_results my-4">
            <table id="dqtable" class="dqtable" data-toggle="table">
                <thead>
                    <tr>
                        <th data-field="dp">Category</th>
                        <th data-field="rslt">Result</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="row card my-2" id="section_pp">
    <h5 class="card-header">Preprocess</h5>
    <div class="card-body text-center">
        <form id="pp_form">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group row">
                            <label for="crop" class="col-sm-5"> Crop: </label>
                            <div class="col-sm-5">
                                <input type="checkbox" class="form-check-input" id="pp_crop" name="crop" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="dwnsmpl" class="col-sm-5"> Downsample:</label>
                            <div class="col-sm-5">
                                <input type="checkbox" class="form-check-input" id="pp_dwnsmpl" name="dwnsmpl" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="smooth" class="col-sm-5">Smooth:</label>
                            <div class="col-sm-5">
                                <input type="checkbox" class="form-check-input" id="pp_smooth" name="smooth" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group row">
                            <label for="pp_crop_min_input" class="col-sm-6 col-form-label">New minimum:</label>
                            <div class="col-sm-4">
                                <input class="form-control form-control-sm d-inline" type="number" id="pp_crop_min_input" name="pp_crop_min_input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pp_crop_max_input" class="col-sm-6 col-form-label">New maximum:</label>
                            <div class="col-sm-4">
                                <input class="form-control form-control-sm d-inline" type="number" id="pp_crop_max_input" name="pp_crop_max_input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pp_dwnsmpl_input" class="col-sm-6 col-form-label"># of Points:</label>
                            <div class="col-sm-4">
                                <input class="form-control form-control-sm d-inline" type="number" id="pp_dwnsmpl_input" name="pp_dwnsmpl_input" min="100">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        
                    </div>
                </div>
            </div>
        </form>
        <div class="btn btn-sm btn-hhanh-primary my-4" id="pp_submit">Preprocess</div>
        <div id="pp_results" class="my-4"></div>
        <div id="pp_message" class="my-4 text-left"></div>
        <div class="input_dq_results my-4">
            <table id="pp_dqtable" class="dqtable" data-toggle="table">
                <thead>
                    <tr>
                        <th data-field="dp">Category</th>
                        <th data-field="rslt">Result</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="row card my-2" id="section_fn">
    <h5 class="card-header">Function</h5>
    <div id="decision_section" class="card-body">
        <div class="btn btn-sm btn-hhanh-primary fnshowbtn my-4" d-id="schkuratov_section">Function Schkuratov</div>
        <div class="btn btn-sm btn-hhanh-primary fnshowbtn my-4" d-id="hapke_section">Function Hapke</div>
    </div>
    <div id="schkuratov_section" class="fnsection card-body" style="display:none"> Schkuratov</div>
    <div id="hapke_section" class="fnsection card-body" style="display:none">
        <div>Hapke Model</div>
        <form id="pp_form">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group row">
                            <label for="hpk_bs0" class="col-sm-6 col-form-label">Single Scattering Albedo (W):</label>
                            <div class="col-sm-4 input-group">
                                <div class="form-check form-switch form-control-sm d-inline">
                                    <input class="form-check-input jschkbox" type="checkbox" id="hpk_w_toggle" checked>
                                    <label class="form-check-label" for="hpk_w_toggle">Scalar Guess</label>
                                </div>
                                <div class="form-check form-switch form-control-sm d-inline">
                                    <input class="form-check-input jschkbox" type="checkbox" id="w_inversion">
                                    <label class="form-check-label" for="w_inversion">Simple Inversion</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hpk_bs0" class="col-sm-6 col-form-label">Scalar Guess for (W):</label>
                            <div class="col-sm-4 input-group">
                                <input class="form-control form-control-sm d-inline" type="number" id="hpk_w_guess" placeholder="W Guess" name="hpk_w_guess" min=0 max=1>
                                <span class="input-group-addon">-</span>
                                <input class="form-control form-control-sm d-inline" type="number" id="hpk_w_low" placeholder="W Low" name="hpk_w_low" min=0 max=1>
                                <span class="input-group-addon">-</span>
                                <input class="form-control form-control-sm d-inline" type="number" id="hpk_w_high" placeholder="W High" name="hpk_w_high" min=0 max=1>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hpk_bs0" class="col-sm-6 col-form-label">SHOE Amplitude (B_s0):</label>
                            <div class="col-sm-4 input-group">
                                <div class="form-check form-switch form-control-sm d-inline">
                                    <input class="form-check-input jschkbox" type="checkbox" id="hpk_bs0_toggle">
                                    <label class="form-check-label" for="hpk_bs0_toggle">Scalar Guess</label>
                                </div>
                                <input disabled class="form-control form-control-sm d-inline" type="number" id="hpk_bs0_guess" placeholder="B_s0 Guess" name="hpk_bs0_guess" min=0 max=1>
                                <span class="input-group-addon">-</span>
                                <input disabled class="form-control form-control-sm d-inline lh_guess" type="number" id="hpk_bs0_low" placeholder="B_s0 Low" name="hpk_bs0_low" min=0 max=1>
                                <span class="input-group-addon">-</span>
                                <input disabled class="form-control form-control-sm d-inline lh_guess" type="number" id="hpk_bs0_high" placeholder="B_s0 High" name="hpk_bs0_high" min=0 max=1>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hpk_hs" class="col-sm-6 col-form-label">SHOW Width (h_s):</label>
                            <div class="col-sm-4 input-group">
                                <div class="form-check form-switch form-control-sm d-inline">
                                    <input class="form-check-input jschkbox" type="checkbox" id="hpk_hs_toggle">
                                    <label class="form-check-label" for="hpk_hs_toggle">Scalar Guess</label>
                                </div>
                                <input disabled class="form-control form-control-sm d-inline" type="number" id="hpk_hs_guess" placeholder="h_s Guess" name="hpk_hs_guess" min=0 max=1>
                                <span class="input-group-addon">-</span>
                                <input disabled class="form-control form-control-sm d-inline lh_guess" type="number" id="hpk_hs_low" name="hpk_hs_low" placeholder="h_s Low" min=0 max=1>
                                <span class="input-group-addon">-</span>
                                <input disabled class="form-control form-control-sm d-inline lh_guess" type="number" id="hpk_hs_high" placeholder="h_s High" name="hpk_hs_high" min=0 max=1>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hpk_bc0" class="col-sm-6 col-form-label">CBOE Amplitude (Bc_0):</label>
                            <div class="col-sm-4 input-group">
                                <div class="form-check form-switch form-control-sm d-inline">
                                    <input class="form-check-input jschkbox" type="checkbox" id="hpk_bc0_toggle">
                                    <label class="form-check-label" for="hpk_bc0_toggle">Scalar Guess</label>
                                </div>
                                <input disabled class="form-control form-control-sm d-inline" type="number" id="hpk_bc0_guess" placeholder="B_c0 Guess" name="hpk_bc0_guess" min=0 max=1>
                                <span class="input-group-addon">-</span>
                                <input disabled class="form-control form-control-sm d-inline lh_guess" type="number" id="hpk_bc0_low" placeholder="B_c0 Low" name="hpk_bc0_low" min=0 max=1>
                                <span class="input-group-addon">-</span>
                                <input disabled class="form-control form-control-sm d-inline lh_guess" type="number" id="hpk_bc0_high" placeholder="B_c0 High" name="hpk_bc0_high" min=0 max=1>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hpk_hc" class="col-sm-6 col-form-label">CBOE Width (h_c):</label>
                            <div class="col-sm-4 input-group">
                                <div class="form-check form-switch form-control-sm d-inline">
                                    <input class="form-check-input jschkbox" type="checkbox" id="hpk_hc_toggle">
                                    <label class="form-check-label" for="hpk_hc_toggle">Scalar Guess</label>
                                </div>
                                <input disabled class="form-control form-control-sm d-inline" type="number" id="hpk_hc_guess" placeholder="h_c Guess" name="hpk_hc_guess" min=0 max=1>
                                <span class="input-group-addon">-</span>
                                <input disabled class="form-control form-control-sm d-inline lh_guess" type="number" id="hpk_hc_low" name="hpk_hc_low" placeholder="h_c Low" min=0 max=1>
                                <span class="input-group-addon">-</span>
                                <input disabled class="form-control form-control-sm d-inline lh_guess" type="number" id="hpk_hc_high" placeholder="h_c High" name="hpk_hc_high" min=0 max=1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group row">
                            <label for="hpk_pfn" class="col-sm-6 col-form-label">Phase Function (Click to Select):</label>
                            <div class="col-sm-4 input-group">
                                <div class="col-sm-6 d-inline">
                                    <select class="custom-select"  style="width:100% !important" id="hpk_pg">
                                        <option selected>Data</option>
                                        <option value="pd">Phase Data</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 d-inline">
                                    <select class="custom-select"  style="width:100% !important" id="hpk_pg">
                                        <option selected>Choose...</option>
                                        <option value="1">Constant</option>
                                        <option value="hg">H(g)</option>
                                        <option value="leg">Legendre</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <label class="col-sm-6 col-form-label" for="hpk_pg">P(g)</label>
                            <div class="col-sm-4">
                                <select class="custom-select" id="hpk_pg">
                                    <option selected>Choose...</option>
                                    <option value="1">1</option>
                                    <option value="hg">H(g)</option>
                                    <option value="leg">Legendre</option>
                                </select>
                            </div>
                        </div> -->
                        <!-- <div class="form-group row">
                            <label for="hpk_phase" class="col-sm-6 col-form-label">Upload Phase:</label>
                            <div class="col-sm-4 input-group">
                                <form id="phase-upload-file">
                                    <input name="customFile" class="form-control form-control-sm d-inline" id="phase_input_file" type="file">
                                </form>
                            </div>
                        </div> -->
                        <div class="form-group row">
                            <label for="hpk_phase" class="col-sm-6 col-form-label">Upload B/C:</label>
                            <div class="col-sm-4 input-group">
                                <form id="bc-upload-file">
                                    <input name="customFile" class="form-control form-control-sm d-inline" id="bc_input_file" type="file">
                                </form>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hpk_b" class="col-sm-6 col-form-label">B:</label>
                            <div class="col-sm-4 input-group">
                                <div class="form-check form-switch form-control-sm d-inline">
                                    <input class="form-check-input jschkbox" type="checkbox" id="hpk_b_toggle">
                                    <label class="form-check-label" for="hpk_b_toggle">Scalar Guess</label>
                                </div>
                                <input disabled class="form-control form-control-sm d-inline" type="number" id="hpk_b_guess" placeholder="B Guess" name="hpk_b_guess" min=0 max=1>
                                <span class="input-group-addon">-</span>
                                <input disabled class="form-control form-control-sm d-inline lh_guess" type="number" id="hpk_b_low" name="hpk_b_low" placeholder="B Low" min=0 max=1>
                                <span class="input-group-addon">-</span>
                                <input disabled class="form-control form-control-sm d-inline lh_guess" type="number" id="hpk_b_high" placeholder="B High" name="hpk_b_high" min=0 max=1>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hpk_c" class="col-sm-6 col-form-label">C:</label>
                            <div class="col-sm-4 input-group">
                                <div class="form-check form-switch form-control-sm d-inline">
                                    <input class="form-check-input jschkbox" type="checkbox" id="hpk_c_toggle">
                                    <label class="form-check-label" for="hpk_c_toggle">Scalar Guess</label>
                                </div>
                                <input disabled class="form-control form-control-sm d-inline" type="number" id="hpk_c_guess" placeholder="C Guess" name="hpk_c_guess" min=0 max=1>
                                <span class="input-group-addon">-</span>
                                <input disabled class="form-control form-control-sm d-inline lh_guess" type="number" id="hpk_c_low" name="hpk_c_low" placeholder="C Low" min=0 max=1>
                                <span class="input-group-addon">-</span>
                                <input disabled class="form-control form-control-sm d-inline lh_guess" type="number" id="hpk_c_high" placeholder="C High" name="hpk_c_high" min=0 max=1>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hpk_ff" class="col-sm-6 col-form-label">Filling Factor:</label>
                            <div class="col-sm-4 input-group">
                                <div class="form-check form-switch form-control-sm d-inline">
                                    <input class="form-check-input jschkbox" type="checkbox" id="hpk_ff_toggle">
                                    <label class="form-check-label" for="hpk_ff_toggle">Scalar Guess</label>
                                </div>
                                <input disabled class="form-control form-control-sm d-inline" type="number" id="hpk_ff_guess" placeholder="ff Guess" name="hpk_ff_guess" min=0 max=1>
                                <span class="input-group-addon">-</span>
                                <input disabled class="form-control form-control-sm d-inline lh_guess" type="number" id="hpk_ff_low" name="hpk_ff_low" placeholder="ff Low" min=0 max=1>
                                <span class="input-group-addon">-</span>
                                <input disabled class="form-control form-control-sm d-inline lh_guess" type="number" id="hpk_ff_high" placeholder="ff High" name="hpk_ff_high" min=0 max=1>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hpk_theta" class="col-sm-6 col-form-label">Surface Roughness (S):</label>
                            <div class="col-sm-4 input-group">
                                <div class="form-check form-switch form-control-sm d-inline">
                                    <input class="form-check-input jschkbox" type="checkbox" id="hpk_theta_toggle">
                                    <label class="form-check-label" for="hpk_theta_toggle">Scalar Guess</label>
                                </div>
                                <input disabled class="form-control form-control-sm d-inline" type="number" id="hpk_theta_guess" placeholder="Theta Bar Guess" name="hpk_theta_guess" min=0 max=1>
                                <span class="input-group-addon">-</span>
                                <input disabled class="form-control form-control-sm d-inline lh_guess" type="number" id="hpk_theta_low" name="hpk_theta_low" placeholder="Theta Bar Low" min=0 max=1>
                                <span class="input-group-addon">-</span>
                                <input disabled class="form-control form-control-sm d-inline lh_guess" type="number" id="hpk_theta_high" placeholder="Theta Bar High" name="hpk_theta_high" min=0 max=1>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
        <div class="btn btn-sm btn-hhanh-primary my-4" id="hpk_submit">Run Hapke</div>
        <div id="hpk_results" class="my-4"></div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="/static/custom/onloadhandler.js"></script>
<script src="/static/custom/asynchandler.js"></script>
{% endblock %}